SPOTIFY_SP_DC=your_sp_dc_cookie_here
SPOTIFY_SP_T=your_sp_t_cookie_here
SPOTIFY_PLAYLIST_URL=https://open.spotify.com/playlist/your_playlist_id
SPOTIFY_TOKEN=your_bearer_token_here
YTM_AUTH=SAPISIDHASH_here
YTM_COOKIE=your_youtube_cookie_here